<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Auth Server</title>
  <meta name="description" content="An auth server.">
  <meta name="author" content="SitePoint">

  <meta property="og:title" content="Auth server">
  <meta property="og:type" content="website">
  <meta property="og:description" content="An auth server.">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

</head>

<body>
    <h1>Authorization Server</h1>
    @RenderBody()
</body>
</html>